/*
 * Ingresa el CSS del proyecto en este archivo
 */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  background-color: #fff;
}

img {
  vertical-align: middle;
}

a {
  color: #373B47;
  text-decoration: none;
}

a:hover {
  color: #E95853;
}
